{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>Figure</th>
            <th>Groupe</th>
            <th>Description</th>
            <th>Images</th>
            <th>Videos</th>

        </tr>
        </thead>

        <tbody>
        {% for trick in tricks %}
            <tr>
                <td>{{ trick.id }}</td>
                <td>{{ trick.name }}</td>
                <td>{{ trick.trickGroup.name }}</td>
                <td>{{ trick.description }}</td>
                <td>
                   {{ trick.image }}
                </td>
                <td>
                    <ul>

                        {% for video in trick.videos %}

                            <li>
                                {{ video.url }}
                            </li>

                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
