<div class="container-fluid">

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-4">
            <h4>Informations sur la Figure</h4>
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
        </div>

        <div class="col-md-4">
            <h4>Images</h4>
            <ul class="images list-group" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                {% for image in form.images %}
                    <li class="list-group-item">{{ form_row(image.url) }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Videos</h4>
            <ul class="videos list-group" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                {% for video in form.videos %}
                    <li class="list-group-item">{{ form_row(video.url) }}</li>
                {% endfor %}
            </ul>
        </div>


        {{ form_rest(form) }}

        <button class="btn btn-info">Valider</button>
        {{ form_end(form) }}

    </div>
</div>
