{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}

    <div class="container">

        <div class="row justify-content-center">
            <div class="trick-first-image">
                <h3 class="trick-title">{{ trick.name }}</h3>
                <img src="{{ asset('uploads/images/'~trick.firstImage.name|e) }}" alt="First image">
            </div>
        </div>
        <div class="row">
            {% for image in trick.images %}
                <div class="ticket m-3">
                    <div class="ticket-top">

                        <img class="ticket-image"
                             src="{{ asset('uploads/images/'~image.name|e) }}"
                             alt="Image à la une">

                    </div>
                </div>
            {% endfor %}
            {% for video in trick.videos %}

                    <iframe class="ticket m-3" width="250" height="190" src="{{ video.url }}">
                    </iframe>

            {% endfor %}
        </div>
        <div class="row">
            <div class="my-3">
            {{ trick.description }}
            </div>
        </div>
        <div class="row justify-content-center">
            <span class="badge badge-info mx-1">Date de création: {{ trick.date | date('d/m/y', 'Europe/Paris')  }}</span>
            <span class="badge badge-info mx-1">Groupe: {{ trick.trickGroup.name }}</span>

        </div>


    </div>
{% endblock %}