{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}


<div class="my-view-header">
    <div class="container view-content ">


        <div class="row justify-content-center">
            <div class="trick-first-image">

                {% if app.user and is_granted('edit', trick) %}

                    {#edit trick link#}
                    <a href="{{ path('trick_edit', {'id': trick.id, 'slug': trick.slug }) }}" class="trick-edit"><i
                                class="fas fa-pencil-alt"></i></a>


                    {#delete trick button#}
                    <form class="trick-delete" method="post"
                          action="{{ path('trick_delete', {'id': trick.id, 'slug': trick.slug }) }}"
                          onsubmit="return confirm('Voulez-vous vraiment supprimer cette figure ?');">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <input type="hidden" name="_token" value="{{ csrf_token('delete-trick') }}"/>
                        <button type="submit" class="myDeleteButton fas fa-trash-alt"></button>
                    </form>

                {% endif %}

                <h3 class="trick-title">{{ trick.name }}</h3>
                <img class="first-image-view" src="
{% if trick.images.first %}

{{ asset('uploads/images/'~trick.images.first.name|e) }}

{% else %}

{{ asset('uploads/images/'~default_image|e) }}
{% endif %}
"
                     alt="First image">
            </div>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-info mt-1 d-block d-sm-none" type="button" data-toggle="collapse"
                    data-target="#collapseMedias"
                    aria-expanded="false" aria-controls="collapseMedias">Afficher les médias
            </button>
        </div>

        <div class="row collapse dont-collapse-sm" id="collapseMedias">
            <div class="d-flex justify-content-center flex-wrap">

                {% for image in trick.images %}
                    <div class="ticket m-3">
                        <div class="ticket-top">
                            <a href="#" data-toggle="modal" data-target="#imageModal{{ image.id }}">
                                <img class="ticket-image"
                                     src="{{ asset('uploads/images/'~image.name|e) }}"
                                     alt="Image à la une">
                            </a>

                            <!-- Modal -->
                            <div class="modal fade" id="imageModal{{ image.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <img class="modal-image" src="{{ asset('uploads/images/'~image.name|e) }}"
                                                 alt="Image agrandie">
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        {% if edit is defined %}
                            <div class="ticket-footer">
                                <a href="{{ path('image_edit', {'id': image.id}) }}"><i
                                            class="fas fa-pencil-alt"></i></a>
                                <form method="post"
                                      action="{{ path('image_delete', {'id': image.id }) }}"
                                      onsubmit="return confirm('Voulez-vous vraiment supprimer cette image ?');">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete-image') }}"/>
                                    <button type="submit" class="myDeleteButton fas fa-trash-alt"></button>
                                </form>

                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% for video in trick.videos %}

                    <div class="ticket m-1">
                        <div class="ticket-top d-flex justify-content-center">
                            <iframe class="ticket m-3" width="250" height="190" src="{{ video.url }}">
                            </iframe>
                        </div>

                        {% if edit is defined %}
                            <div class="ticket-footer">
                                <a href="{{ path('video_edit', {'id': video.id}) }}"><i
                                            class="fas fa-pencil-alt"></i></a>
                                <form method="post"
                                      action="{{ path('video_delete', {'id': video.id }) }}"
                                      onsubmit="return confirm('Voulez-vous vraiment supprimer cette video ?');">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete-video') }}"/>
                                    <button type="submit" class="myDeleteButton fas fa-trash-alt"></button>
                                </form>
                            </div>
                        {% endif %}
                    </div>

                {% endfor %}
            </div>
        </div>
        {% if edit is defined %}
            <div class="row justify-content-center mt-3">

                <a href="{{ path('image_new', {'id': trick.id, 'slug' : trick.slug}) }}" class="btn btn-primary mx-3">Ajouter image</a>
                <a href="{{ path('video_new', {'id': trick.id, 'slug' : trick.slug}) }}" class="btn btn-primary mx-3">Ajouter video</a>
            </div>


        {% endif %}

        <div class="row justify-content-center mt-3">
            <span class="badge badge-info mx-1">Date de création: {{ trick.date | date('d/m/y', 'Europe/Paris') }}</span>
            <span class="badge badge-info mx-1">Groupe: {{ trick.trickGroup.name }}</span>
            <span class="badge badge-info mx-1">Date de modification: {{ trick.dateUpdate | date('d/m/y', 'Europe/Paris') }}</span>
            <span class="badge badge-info mx-1">Créé par: {{ trick.user.username }}</span>

        </div>


        {% if edit is defined %}


            <div class="row justify-content-center mt-3">
                <div class="col-md-6">

                    {{ form_start(form) }}

                    {{ form_rest(form) }}
                    <button class="btn btn-info">Enregistrer</button>
                    {{ form_end(form) }}
                </div>
            </div>


        {% else %}
            <div class="row">
                <div class="my-3 px-3">
                    {{ trick.description }}
                </div>
            </div>

        {% endif %}

        {#comment section#}
        {% if app.user is not null and is_granted('ROLE_USER') and edit is not defined %}
            <hr>
            <div class="row justify-content-center mt-4">
                {{ include('comment/_form.html.twig') }}
            </div>
        {% endif %}
        {% if edit is not defined %}
            <hr>
            <div class="row justify-content-center">
                {{ include('comment/_tread.html.twig') }}
            </div>
        {% endif %}

    </div>
    {#</div>#}


    {% endblock %}

